/* INPUT */
.kv-input {
  appearance: none;
  width: 100%;
  padding: 1rem 1rem;
  font-family: inherit;
  font-size: var(--kv-font-size-md);
  font-weight: var(--kv-font-weight-bold);
  line-height: var(--kv-line-height-xs);
  border: 1px solid var(--kv-color-gray-400);
  border-radius: 1rem;
  color: var(--kv-body-color);
}
.kv-input:focus {
  outline-color: var(--kv-color-tertiary);
}
.kv-input::placeholder {
  color: var(--kv-body-color);
  opacity: 0.4;
}
.kv-fieldset .kv-input {
  height: 4.5rem;
  padding-top: 2.25rem;
}
