.kv-multi-select {
  display: grid;
  height: 3.5rem;
  width: 100%;
  color: var(--kv-body-color);
  background: var(--kv-color-lychee-100);
  border: 1px solid var(--kv-color-lychee-400);
  border-radius: 1rem;

  .kv-fieldset--has-label & {
    height: 4rem;
  }

  .kv-fieldset--has-label > & .kv-multi-select__value {
    padding-top: 2rem;
  }
}

.kv-multi-select__value {
  width: 100%;
  padding: 1rem;
  padding-right: 5.5rem;
  font-size: var(--kv-font-size-md);
  font-weight: var(--kv-font-weight-bold);
  line-height: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.kv-multi-select__content {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 0.5rem;
  z-index: 90;
  width: 100%;
  padding: 1rem 0;
  background: var(--kv-color-lychee-100);
  border: 1px solid var(--kv-color-lychee-400);
  border-radius: 1rem;
  box-shadow: 4px 4px 16px rgba(119, 128, 128, 0.078);
}
.kv-multi-select__list {
  padding-inline: 0.5rem;
}
.kv-multi-select__item {
  padding: 0.5rem;
  font-weight: 700;
  line-height: 18px;
  color: var(--kv-color-lychee-900);
  border-radius: 0.5rem;
  list-style: none;
  cursor: pointer;
  transition: background 0.2s ease;
}

.kv-multi-select__item:hover {
  background: var(--kv-color-lychee-300);
}

.kv-multi-select__hr {
  height: 1px;
  background-color: var(--kv-color-lychee-400);
  border: none;
  margin: 1rem;
}
