.kv-action {
  --background: var(--background-default, #fff);
  position: relative;
  overflow: hidden;
  display: grid;
  align-items: start;
  align-content: start;
  gap: 0.75rem;
  min-width: 8rem;
  padding: 1rem;
  background: var(--background);
  border: 1px solid #0002;
  border-radius: 1rem;
  font-size: var(--kv-font-size-sm);
  line-height: calc(1em + 0.25rem);
  white-space: nowrap;
  cursor: pointer;
  transition: 0.15s ease-out;
}

.kv-action--featured {
  --background: var(--ion-color-base);
  display: flex;
  align-items: center;
  min-width: unset;
  border-color: var(--ion-color-base);
}

.kv-action--selected,
input:checked ~ .kv-action {
  --background-selected: #fff;
  --background: var(--background-selected);
  border-color: var(--kv-color-tertiary);
}

.kv-action--corner-square {
  border-top-left-radius: 0.25rem;
}

.kv-action--only-icon {
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
}
