$sizes: (
  "large": 2rem,
  "medium": 1.5rem,
  "small": 1.125rem,
);

.chip {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1rem;
  background: var(--kv-color-base);
  color: var(--kv-color-contrast);
  font-weight: $kv_font_weight_bold;
  border: 1px solid var(--kv-color-base);

  &--outline {
    border: 1px solid var(--kv-color-base);
    background: transparent;
    color: var(--kv-color-primary);
  }
}

@each $size_name, $size_value in $sizes {
  @if $size_name == "large" {
    .chip--#{$size_name} {
      font-size: var(--kv-font-size-sm);
      height: $size_value;
      padding: 0.5rem;
      padding-right: 1rem;
    }
  }
  @if $size_name == "medium" {
    .chip--#{$size_name} {
      font-size: var(--kv-font-size-xs);
      height: $size_value;
      padding: 0.25rem;
      padding-right: 0.5rem;
    }
  }
  @if $size_name == "small" {
    .chip--#{$size_name} {
      font-size: var(--kv-font-size-2xs);
      height: $size_value;
      padding: 0.125rem;
      padding-right: 0.25rem;
      gap: 0.25rem;
    }
  }
}
