.kv-tooltip__content {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border-radius: 2em;
  padding: 0.25rem 0.5rem;
  font-size: var(--kv-font-size-sm);
  font-weight: 500;
  line-height: 1;
  color: var(--kv-color-lychee-700);
  background-color: white;
  border: 1px solid var(--kv-color-lychee-600);
  user-select: none;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  will-change: transform, opacity;

  &[data-state="delayed-open"][data-side="top"] {
    animation-name: slideDownAndFade;
  }
  &[data-state="delayed-open"][data-side="right"] {
    animation-name: slideLeftAndFade;
  }
  &[data-state="delayed-open"][data-side="bottom"] {
    animation-name: slideUpAndFade;
  }
  &[data-state="delayed-open"][data-side="left"] {
    animation-name: slideRightAndFade;
  }

  &--error {
    padding-left: 0.25rem;
    border-color: var(--kv-color-blackberry-300);
    color: var(--kv-color-blackberry-500);
  }
}

.kv-tooltip__arrow {
  fill: var(--kv-color-lychee-600);

  &--error {
    fill: var(--kv-color-blackberry-300);
  }

  [data-align="start"] span:has(&) {
    left: 1.5rem !important;
    visibility: visible !important;
  }
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
