.kv-dropdown {
  position: relative;
  width: 100%;
}

.kv-dropdown-select {
  appearance: none;
  width: 100%;
  height: 3.5rem;
  padding: 1rem;
  padding-right: 3rem;
  font-family: inherit;
  font-size: var(--kv-font-size-md);
  font-weight: var(--kv-font-weight-bold);
  line-height: 1em;
  border: 1px solid var(--kv-color-lychee-400);
  color: var(--kv-body-color);
  border-radius: 1rem;
  background: var(--kv-color-lychee-100);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.kv-fieldset--has-label .kv-dropdown-select {
  height: 4rem;
  padding-top: 2rem;
}

.kv-dropdown-list {
  width: 100%;
  background: var(--kv-color-lychee-100);
  border: 1px solid var(--kv-color-lychee-400);
  border-radius: 1rem;
  list-style: none;
  padding: 1rem;
  box-shadow: 4px 4px 16px rgba(119, 128, 128, 0.08);
  z-index: 1000;
}

.kv-dropdown-item {
  padding: .5rem 0;
  font-weight: 700;
  color: var(--kv-color-lychee-900);
  line-height: 18px;
  cursor: pointer;
  transition: background 0.2s ease;
  border-radius: .5rem;
}

.kv-dropdown-item:hover {
  background: var(--kv-color-lychee-100);
  color: var(--kv-color-lychee-500);
}

.kv-dropdown-list.overlay {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 5px;
}

.kv-dropdown-list.push {
  position: relative;
  margin-top: 5px;
}
