@use "sass:map";

$colors: (
  tertiary: (
    "background": var(--kv-color-grape-500),
    "background-hover": var(--kv-color-grape-600),
    "background-focus": var(--kv-color-grape-600),
    "background-active": var(--kv-color-grape-500),
    "border-color": var(--kv-color-grape-500),
    "color": var(--kv-color-lychee-100),
  ),
  success: (
    "background": var(--kv-color-pear-500),
    "background-hover": var(--kv-color-pear-600),
    "background-focus": var(--kv-color-pear-600),
    "background-active": var(--kv-color-pear-500),
    "border-color": var(--kv-color-pear-500),
    "color": var(--kv-color-lychee-100),
  ),
  danger: (
    "background": var(--kv-color-blackberry-500),
    "background-hover": var(--kv-color-blackberry-600),
    "background-focus": var(--kv-color-blackberry-600),
    "background-active": var(--kv-color-blackberry-500),
    "border-color": var(--kv-color-blackberry-500),
    "color": var(--kv-color-lychee-100),
  ),
  muted: (
    "background": var(--kv-color-lychee-100),
    "background-hover": var(--kv-color-lychee-200),
    "background-focus": var(--kv-color-lychee-200),
    "background-active": var(--kv-color-lychee-100),
    "border-color": var(--kv-color-lychee-400),
    "color": var(--kv-color-lychee-800),
  ),
);

.kv-icon-button {
  --border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: var(--width);
  height: var(--height);
  margin: 0;
  padding: 0;
  appearance: none;
  background-color: var(--background);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  color: var(--color);
  cursor: pointer;
  text-align: center;

  &:hover {
    --background: var(--background-hover);
  }
  
  &:active:focus {
    --background: var(--background-active);
  }
  
  &:focus {
    --background: var(--background-focus);
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
    cursor: not-allowed;
  }

  &--small {
    --width: 2.5rem;
    --height: 2rem;
  }
  
  &--medium {
    --width: 3.5rem;
    --height: 2.5rem;
  }

  &--large {
    --width: 5.5rem;
    --height: 3rem;
  }

  &--rounded {
    --border-radius: 1rem;
  }

  &--loading {
    pointer-events: none;
  }

  @each $color, $map in $colors {
    &--#{$color} {
      --background: #{map.get($map, "background")};
      --background-hover: #{map.get($map, "background-hover")};
      --background-focus: #{map.get($map, "background-focus")};
      --background-active: #{map.get($map, "background-active")};
      --border-color: #{map.get($map, "border-color")};
      --color: #{map.get($map, "color")};
    }
  }
}
