:root {
  /* COLORS BY NAME */
  --kv-color-lychee-100: #fafcfc;
  --kv-color-lychee-200: #f2f7f7;
  --kv-color-lychee-300: #ebf2f2;
  --kv-color-lychee-400: #e1ebeb;
  --kv-color-lychee-500: #c9d4d4;
  --kv-color-lychee-600: #b6c2c2;
  --kv-color-lychee-700: #98a3a3;
  --kv-color-lychee-800: #5c6363;
  --kv-color-lychee-900: #393e3e;

  --kv-color-pear-100: #e9faf0;
  --kv-color-pear-200: #bff2d4;
  --kv-color-pear-300: #90e0b1;
  --kv-color-pear-400: #65d493;
  --kv-color-pear-500: #3dcc78;
  --kv-color-pear-600: #37b86c;
  --kv-color-pear-700: #30a260;
  --kv-color-pear-800: #27824c;
  --kv-color-pear-900: #206b3f;

  --kv-color-java-100: #e3f7fc;
  --kv-color-java-200: #c6edf7;
  --kv-color-java-300: #a6dfed;
  --kv-color-java-400: #73cee5;
  --kv-color-java-500: #43c1e0;
  --kv-color-java-600: #2ab0d1;
  --kv-color-java-700: #2595ba;
  --kv-color-java-800: #2284a8;
  --kv-color-java-900: #1f769c;

  --kv-color-grape-100: #eae0ff;
  --kv-color-grape-200: #d7c8fa;
  --kv-color-grape-300: #b9a0f2;
  --kv-color-grape-400: #9573e5;
  --kv-color-grape-500: #7a50d9;
  --kv-color-grape-600: #6139bf;
  --kv-color-grape-700: #4f29a6;
  --kv-color-grape-800: #42238c;
  --kv-color-grape-900: #331773;

  --kv-color-pitaya-100: #fcdef1;
  --kv-color-pitaya-200: #f7bee4;
  --kv-color-pitaya-300: #f090d0;
  --kv-color-pitaya-400: #eb65be;
  --kv-color-pitaya-500: #e645b0;
  --kv-color-pitaya-600: #cf3a9d;
  --kv-color-pitaya-700: #b8348c;
  --kv-color-pitaya-800: #a82f7f;
  --kv-color-pitaya-900: #942971;

  --kv-color-blackberry-100: #fcedec;
  --kv-color-blackberry-200: #f7cbc7;
  --kv-color-blackberry-300: #f0978f;
  --kv-color-blackberry-400: #eb746a;
  --kv-color-blackberry-500: #e65245;
  --kv-color-blackberry-600: #cf493e;
  --kv-color-blackberry-700: #b84136;
  --kv-color-blackberry-800: #a1392f;
  --kv-color-blackberry-900: #91342b;

  --kv-color-tangerine-100: #fff2ed;
  --kv-color-tangerine-200: #ffdaca;
  --kv-color-tangerine-300: #ffc1a6;
  --kv-color-tangerine-400: #ffa680;
  --kv-color-tangerine-500: #ff8b59;
  --kv-color-tangerine-600: #f27f4e;
  --kv-color-tangerine-700: #e07343;
  --kv-color-tangerine-800: #cc6539;
  --kv-color-tangerine-900: #b2562e;

  --kv-color-mango-100: #fef8ee;
  --kv-color-mango-200: #fdebcc;
  --kv-color-mango-300: #fcd89a;
  --kv-color-mango-400: #fbcb78;
  --kv-color-mango-500: #fabe57;
  --kv-color-mango-600: #ebae46;
  --kv-color-mango-700: #dea23a;
  --kv-color-mango-800: #d19732;
  --kv-color-mango-900: #c28825;

  /* COLORS BY STATUS */
  --kv-color-primary: var(--kv-color-lychee-800);
  --kv-color-primary-contrast: var(--kv-color-lychee-100);

  --kv-color-secondary: var(--kv-color-java-500);
  --kv-color-secondary-contrast: var(--kv-color-lychee-100);

  --kv-color-tertiary: var(--kv-color-grape-500);
  --kv-color-tertiary-contrast: var(--kv-color-lychee-100);

  --kv-color-success: var(--kv-color-pear-500);
  --kv-color-success-contrast: var(--kv-color-lychee-100);

  --kv-color-warning: var(--kv-color-tangerine-500);
  --kv-color-warning-contrast: var(--kv-color-lychee-100);

  --kv-color-danger: var(--kv-color-blackberry-500);
  --kv-color-danger-contrast: var(--kv-color-lychee-100);

  --kv-color-white: white;
  --kv-color-white-contrast: var(--kv-color-primary);

  --kv-color-medium: var(--kv-color-lychee-600);
  --kv-color-medium-contrast: var(--kv-color-lychee-100);

  --kv-color-light: var(--kv-color-lychee-400);
  --kv-color-light-contrast: var(--kv-color-lychee-600);

  /* BODY */
  --kv-font-family: "Red Hat Display", sans-serif;
  --kv-body-background: var(--kv-color-lychee-200);
  --kv-body-color: var(--kv-color-primary);

  /* FONT-SIZE */
  --kv-font-size-2xs: 0.625rem;
  --kv-font-size-xs: 0.75rem;
  --kv-font-size-sm: 0.875rem;
  --kv-font-size-md: 1rem;
  --kv-font-size-lg: 1.125rem;
  --kv-font-size-xl: 1.25rem;
  --kv-font-size-2xl: 1.5rem;
  --kv-font-size-3xl: 1.75rem;
  --kv-font-size-4xl: 2rem;
  --kv-font-size-5xl: 2.5rem;
  --kv-font-size-6xl: 3rem;
  --kv-font-size-base: var(--kv-font-size-medium);

  /* LINE-HEIGHT */
  --kv-line-height-xl: calc(1em + 1rem);
  --kv-line-height-lg: calc(1em + 0.75rem);
  --kv-line-height-md: calc(1em + 0.5rem);
  --kv-line-height-sm: calc(1em + 0.25rem);
  --kv-line-height-xs: calc(1em + 0.125rem);
  --kv-line-height-base: var(--kv-line-height-md);

  --kv-font-weight-thin: 200;
  --kv-font-weight-light: 300;
  --kv-font-weight-regular: 400;
  --kv-font-weight-medium: 500;
  --kv-font-weight-semibold: 600;
  --kv-font-weight-bold: 700;
  --kv-font-weight-black: 900;

  --container-padding: 1.5rem;

  --kv-header-width: 104px;
  --kv-header-height: 80px;

  /* SHADOW */
  --kv-shadow-highlight: 1px 1px 16px var(--kv-color-lychee-400);
  --kv-shadow-floating: 4px 4px 16px var(--kv-color-lychee-400);
  --kv-shadow-overlay: 6px 6px 32px var(--kv-color-lychee-400);
  --kv-shadow-sheet: 0 -8px var(--kv-color-lychee-400);
}
