.dialog {
  --dialog-backdrop-color: #fffa;
  --dialog-padding: 2rem;
  --dialog-background: var(--kv-color-gray-200);
  --dialog-border-radius: 12px;
  --dialog-header-padding: 2rem 2rem 0;
  --dialog-header-color: var(--kv-body-color);
  --dialog-header-background: var(--dialog-background);
  --dialog-content-padding: 2rem;
  --dialog-content-color: var(--kv-body-color);
  --dialog-content-background: var(--dialog-background);
  --dialog-footer-padding: 0 2rem 2rem;
  --dialog-footer-color: var(--kv-body-color);
  --dialog-footer-background: transparent;
  --dialog-box-shadow: 0 8px 24px 0 #0002;
  --dialog-max-width: 400px;
  --dialog-min-height: auto;

  position: fixed;
  width: calc(100% - 5rem);
  max-width: var(--dialog-max-width);
  margin: auto;
  padding: 0;
  border: none;
  background: none;
  overflow: visible;
}
.dialog::backdrop {
  background-color: #fffa;
}

.dialog__container {
  position: relative;
  display: grid;
  grid-auto-rows: auto 1fr auto;
  align-items: start;
  background: var(--dialog-background);
  border-radius: var(--dialog-border-radius);
  box-shadow: var(--dialog-box-shadow);
  overflow: hidden;
  min-height: var(--dialog-min-height);
}

.dialog__header {
  padding: var(--dialog-header-padding);
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--dialog-header-color);
  background: var(--dialog-header-background);
}

.dialog__main {
  padding: var(--dialog-content-padding);
  color: var(--dialog-content-color);
  background: var(--dialog-content-background);
  align-self: stretch;
}

.dialog__footer {
  display: flex;
  justify-content: space-between;
  padding: var(--dialog-footer-padding);
  color: var(--dialog-footer-color);
  background: var(--dialog-footer-background);
}

.dialog__menu {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.dialog__close-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1rem;
  border: 0;
  background: var(--kv-color-gray-700);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
