$sizes: (
  "large": 2rem,
  "medium": 1.5rem,
  "small": 1rem,
  "xsmall": 0.75rem,
);

.kv-seal {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--kv-color-base);
  border-radius: var(--kv-seal-border-radius);

  &--shape-rect {
    --kv-seal-border-radius: 0.5rem;
    width: var(--kv-seal-rect-width);
  }

  &--shape-circle {
    --kv-seal-border-radius: 100%;
    width: var(--kv-seal-circle-width);
  }

  &--disabled-true {
    opacity: 0.5;
  }

  @each $size_name, $size_value in $sizes {
    &--size-#{$size_name} {
      --kv-seal-rect-width: calc(#{$size_value} * 1.75);
      --kv-seal-circle-width: #{$size_value};
      height: #{$size_value};
    }
  }

  &__icon {
    color: var(--kv-color-contrast);
  }
}
