@use 'src/variables' as *;

$lg: 2rem;
$md: 1.5rem;
$sm: 1rem;
$xs: .5rem;

$sizes: (
  "lg": $lg,
  "md": $md,
  "sm": $sm,
  "xs": $xs,
);

@each $size_name, $size_value in $sizes {
  .#{$size_name} {
    width: $size_value;
    height: $size_value;
  }
}

@each $kv_color_name, $kv_color_value in $kv_colors {
  .sealBackgroundColor-#{$kv_color_name} {
    background-color: $kv_color_value;
  }

  .sealColor-#{$kv_color_name} {
    color: $kv_color_value;
  }
}

.seal {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;

  font-size: $kv_font_size_xs;
  font-weight: $kv_font_weight_medium;
}

