$sizes: (
  "large": 2rem,
  "medium": 1.5rem,
  "small": 1rem,
  "xsmall": 0.5rem,
);

$shapes: (
  "circle": 50%,
  "rect": 0.5rem,
);

@mixin react_width($width) {
  width: calc($width * 1.75);
}

@each $shape_name, $shape_value in $shapes {
  @each $size_name, $size_value in $sizes {
    @if $shape_name == "rect" {
      .seal-rect-#{$size_name} {
        @include react_width($size_value);
        height: $size_value;
        border-radius: $shape_value;
      }
    } @else {
      .seal-circle-#{$size_name} {
        --icon-size: calc(#{$size_value}/1.5);
        height: $size_value;
        width: $size_value;
        border-radius: $shape_value;
      }
    }
  }
}

.seal {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $kv_font_size_xs;
  font-weight: $kv_font_weight_medium;
  background: var(--kv-color-base);
}

.seal__icon {
  width: var(--icon-size);
  height: var(--icon-size);
  color: var(--kv-color-contrast);
}
