.kv-alert-confirm-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.kv-alert-confirm-content {
  width: 100%;
}

.kv-alert-confirm-footer {
  display: flex;
  gap: 1rem;
}
