/* kv-title */
.kv-header {
  display: grid;
  gap: 0.5rem;
  justify-items: start;
  color: var(--kv-color-base);
  font-size: var(--font-size);
}
.kv-title {
  color: var(--kv-color-base);
  font-size: 1em;
  font-weight: var(--kv-font-weight-regular);
}
.kv-title,
.kv-description {
  margin: unset;
  line-height: var(--kv-line-height-sm);
}
.kv-title--small {
  --font-size: var(--kv-font-size-sm);
}
.kv-title--medium {
  --font-size: var(--kv-font-size-md);
}
.kv-title--large {
  --font-size: var(--kv-font-size-lg);
}
.kv-title--xlarge {
  --font-size: var(--kv-font-size-xl);
}
.kv-title--xxlarge {
  --font-size: var(--kv-font-size-3xl);
}

.kv-title__border {
  --border-color: var(--kv-color-base);
  content: "";
  display: block;
  width: 1.5em;
  height: 0.25em;
  margin-bottom: 0.5rem;
  background: var(--border-color);
  border-radius: 2em;
}

.kv-description {
  color: var(--kv-color-base);
  font-size: var(--kv-font-size-sm);
  font-weight: var(--kv-font-weight-medium);
}

.kv-title__icon {
  display: grid;
  place-items: center;
  background-color: var(--kv-color-base);
  color: var(--kv-color-contrast);
  width: 3.5rem;
  height: 2rem;
  border-radius: 0.5rem;
}
