.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  color: var(--kv-color-contrast);
  background: var(--kv-color-base);
  font-size: var(--kv-font-size-xs);
  font-weight: var(--kv-font-weight-medium);
  border-radius: 50%;
}
