@use '../../variables' as *;

@each $kv_color_name, $kv_color_value in $kv_colors {
  .badge--background-#{$kv_color_name} {
    background: $kv_color_value;
  }

  .badge--color-#{$kv_color_name} {
    color: $kv_color_value;
  }
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  // height: 1.5rem;
  font-size: $kv_font_size_xs;
  font-weight: $kv_font_weight_medium;
  border-radius: 50%;
}

