.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--kv-color-contrast);
  background: var(--kv-color-base);
  font-size: var(--kv-font-size-xs);
  font-weight: var(--kv-font-weight-bold);
  border-radius: 0.25rem;
}

.large {
  min-width: 1.5rem;
  height: 1.5rem;
  padding: 0 0.25rem;
  font-size: var(--kv-font-size-sm);
}

.medium {
  min-width: 1.25rem;
  height: 1.25rem;
  padding: 0 0.125rem;
  font-size: var(--kv-font-size-xs);
}
