/* INPUT */
.kv-input {
  appearance: none;
  width: 100%;
  height: 3.5rem;
  padding: 1rem;
  font-family: inherit;
  font-size: var(--kv-font-size-md);
  font-weight: var(--kv-font-weight-bold);
  line-height: 1em;
  background: var(--kv-color-lychee-100);
  border: 1px solid var(--kv-color-lychee-400);
  border-radius: 0.5rem;
  color: var(--kv-body-color);
  transition: 0.3s ease-in-out;

  &:hover {
    background: var(--kv-color-lychee-200);
  }

  &:focus {
    outline: none;
    background: var(--kv-color-lychee-100);
    box-shadow: var(--kv-shadow-highlight);
  }

  &:disabled {
    opacity: 1;
    background: var(--kv-color-lychee-100);
    color: var(--kv-color-lychee-600);
    cursor: not-allowed;
  }

  &::placeholder {
    color: var(--kv-color-lychee-600);
    opacity: 1;
  }

  &--rounded {
    border-radius: 1rem;
  }

  &--invalid {
    border-color: var(--kv-color-blackberry-500);
    color: var(--kv-color-blackberry-500);
  }

  :global(.kv-fieldset--has-label) & {
    height: 4rem;
    padding-top: 2rem;
  }
}
