:root {
  /* COLORS */
  --kv-color-gray-100: #fafcfc;
  --kv-color-gray-200: #fafcfc;
  --kv-color-gray-300: #f2f5f5;
  --kv-color-gray-400: #e8ebeb;
  --kv-color-gray-500: #d9dede;
  --kv-color-gray-600: #adb2b2;
  --kv-color-gray-700: #949999;
  --kv-color-gray-800: #565959;
  --kv-color-gray-900: #263333;

  /* COLORS */
  --kv-color-primary: var(--kv-color-gray-800);
  --kv-color-primary-contrast: #fff;

  --kv-color-secondary: #39d7e5;
  --kv-color-secondary-contrast: #fff;

  --kv-color-tertiary: #7c66e5;
  --kv-color-tertiary-contrast: #fff;

  --kv-color-tertiary-alt: #f048b8;
  --kv-color-tertiary-alt-contrast: #fff;

  --kv-color-success: #52e583;
  --kv-color-success-contrast: #fff;

  --kv-color-warning: #ffc234;
  --kv-color-warning-contrast: #fff;

  --kv-color-warning-alt: #f5914a;

  --kv-color-danger: #e54545;
  --kv-color-danger-contrast: #fff;

  --kv-color-white: #fff;
  --kv-color-white-contrast: var(--kv-color-primary);

  /* BODY */
  --kv-font-family: "Red Hat Display", sans-serif;
  --kv-body-background: var(--kv-color-gray-300);
  --kv-body-color: var(--kv-color-primary);

  /* FONT-SIZE */
  --kv-font-size-2xs: 0.625rem;
  --kv-font-size-xs: 0.75rem;
  --kv-font-size-sm: 0.875rem;
  --kv-font-size-md: 1rem;
  --kv-font-size-lg: 1.125rem;
  --kv-font-size-xl: 1.25rem;
  --kv-font-size-2xl: 1.5rem;
  --kv-font-size-3xl: 1.75rem;
  --kv-font-size-4xl: 2rem;
  --kv-font-size-5xl: 2.5rem;
  --kv-font-size-6xl: 3rem;
  --kv-font-size-base: var(--kv-font-size-medium);

  /* LINE-HEIGHT */
  --kv-line-height-xl: calc(1em + 1rem);
  --kv-line-height-lg: calc(1em + 0.75rem);
  --kv-line-height-md: calc(1em + 0.5rem);
  --kv-line-height-sm: calc(1em + 0.25rem);
  --kv-line-height-xs: calc(1em + 0.125rem);
  --kv-line-height-base: var(--kv-line-height-md);

  --kv-font-weight-thin: 200;
  --kv-font-weight-light: 300;
  --kv-font-weight-regular: 400;
  --kv-font-weight-medium: 500;
  --kv-font-weight-semibold: 600;
  --kv-font-weight-bold: 700;
  --kv-font-weight-black: 900;

  --container-padding: 1.5rem;
}

.kv-color-primary {
  --kv-color-base: var(--kv-color-primary);
  --kv-color-contrast: var(--kv-color-primary-contrast);
}
.kv-color-secondary {
  --kv-color-base: var(--kv-color-secondary);
  --kv-color-contrast: var(--kv-color-secondary-contrast);
}
.kv-color-tertiary {
  --kv-color-base: var(--kv-color-tertiary);
  --kv-color-contrast: var(--kv-color-tertiary-contrast);
}
.kv-color-tertiary-alt {
  --kv-color-base: var(--kv-color-tertiary-alt);
  --kv-color-contrast: var(--kv-color-tertiary-alt-contrast);
}
.kv-color-success {
  --kv-color-base: var(--kv-color-success);
  --kv-color-contrast: var(--kv-color-success-contrast);
}
.kv-color-warning {
  --kv-color-base: var(--kv-color-warning);
  --kv-color-contrast: var(--kv-color-warning-contrast);
}
.kv-color-danger {
  --kv-color-base: var(--kv-color-danger);
  --kv-color-contrast: var(--kv-color-danger-contrast);
}
.kv-color-medium {
  --kv-color-base: var(--kv-color-gray-400);
  --kv-color-contrast: var(--kv-color-primary);
}
