.kv-alert-confirm-container {
  padding: 1.5rem;
}

.kv-title-container {
  padding: unset;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.kv-title-container--primary {
  font-size: var(--kv-font-size-xl);
  font-weight: var(--kv-font-weight-medium);
  line-height: var(--kv-line-height-sm);
  color: #393e3e;
}
