.header {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  justify-content: center;
  justify-items: center;
  /* align-items: center; */
  grid-auto-rows: 1fr;
  gap: 2rem;
  width: var(--kv-header-width);
  height: 100%;
  background: var(--kv-color-gray-200);
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: var(--kv-color-gray-400);
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  padding: 2rem 0 3rem;
}

.link a {
  font-size: var(--kv-font-size-sm);
  color: var(--kv-body-color);
  text-decoration: none;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
.nav {
}
.title {
  font-size: var(--kv-font-size-lg);
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
.logo {
  padding-top: 1.5rem;
  border-top: 1px solid var(--kv-color-gray-400);
}

.slotEnd {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-content: end;
  gap: 1.5rem;
}
