.kv-button {
  --kv-button-border-radius: 0.5rem;
  --padding: 0.5rem 1rem;
  position: relative;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  min-height: var(--height);
  margin: 0;
  padding: var(--padding);
  appearance: none;
  background-color: var(--background);
  border: 1px solid var(--border-color);
  border-radius: var(--kv-button-border-radius);
  color: var(--color);
  cursor: pointer;
  font-family: inherit;
  font-size: var(--font-size);
  font-weight: 700;
  line-height: calc(1em + 0.25rem);
  text-align: center;
  transition: 0.3s ease-in-out;

  &:hover {
    --background: var(--background-hover);
  }

  &:focus {
    outline: none;
    --background: var(--background-focus);
  }

  &:active:focus {
    --background: var(--background-active);
    --color: var(--color-active);
    --border-color: var(--border-color-active);
    transition-duration: 0s;
  }

  &:disabled {
    --background: var(--background-disabled);
    --border-color: var(--border-color-disabled);
    --color: var(--color-disabled);
    opacity: 1;
    user-select: none;
    cursor: not-allowed;
  }

  &--small {
    --height: 2rem;
    --font-size: var(--kv-font-size-xs);
    min-width: 5rem;
  }

  &--medium {
    --height: 2.5rem;
    --font-size: var(--kv-font-size-sm);
    min-width: 9rem;
  }

  &--large {
    --height: 3rem;
    --font-size: var(--kv-font-size-md);
    min-width: 11rem;
  }

  &--loading {
    pointer-events: none;
  }

  &--expand-block {
    width: 100%;
  }

  &--expand-full {
    width: 100%;
    --kv-button-border-radius: 0;
  }

  &--rounded {
    --kv-button-border-radius: 1rem;
  }

  &--tertiary {
    --background: var(--kv-color-grape-500);
    --background-hover: var(--kv-color-grape-600);
    --background-focus: var(--kv-color-grape-600);
    --border-color: var(--kv-color-grape-500);
    --color: var(--kv-color-lychee-100);
    --background-active: var(--kv-color-grape-500);
    --border-color-active: var(--kv-color-grape-500);
    --color-active: var(--kv-color-lychee-100);
    --background-disabled: var(--kv-color-grape-300);
    --border-color-disabled: var(--kv-color-grape-300);
    --color-disabled: var(--kv-color-lychee-100);
  }

  &--success {
    --background: var(--kv-color-pear-500);
    --background-hover: var(--kv-color-pear-600);
    --background-focus: var(--kv-color-pear-600);
    --border-color: var(--kv-color-pear-500);
    --color: var(--kv-color-lychee-100);
    --background-active: var(--kv-color-pear-500);
    --border-color-active: var(--kv-color-pear-500);
    --color-active: var(--kv-color-lychee-100);
    --background-disabled: var(--kv-color-pear-300);
    --border-color-disabled: var(--kv-color-pear-300);
    --color-disabled: var(--kv-color-lychee-100);
  }

  &--danger {
    --background: var(--kv-color-blackberry-500);
    --background-hover: var(--kv-color-blackberry-600);
    --background-focus: var(--kv-color-blackberry-600);
    --border-color: var(--kv-color-blackberry-500);
    --color: var(--kv-color-lychee-100);
    --background-active: var(--kv-color-blackberry-500);
    --border-color-active: var(--kv-color-blackberry-500);
    --color-active: var(--kv-color-lychee-100);
    --background-disabled: var(--kv-color-blackberry-300);
    --border-color-disabled: var(--kv-color-blackberry-300);
    --color-disabled: var(--kv-color-lychee-100);
  }

  &--muted {
    --background: var(--kv-color-lychee-100);
    --background-hover: var(--kv-color-lychee-200);
    --background-focus: var(--kv-color-lychee-200);
    --border-color: var(--kv-color-lychee-400);
    --color: var(--kv-color-lychee-800);
    --background-active: var(--kv-color-grape-100);
    --border-color-active: var(--kv-color-grape-300);
    --color-active: var(--kv-color-grape-500);
    --background-disabled: var(--kv-color-white);
    --border-color-disabled: var(--kv-color-lychee-400);
    --color-disabled: var(--kv-color-lychee-400);
  }

  &--clear {
    --background: transparent;
    --background-hover: var(--kv-color-lychee-200);
    --background-focus: var(--kv-color-lychee-200);
    --border-color: transparent;
    --color: var(--kv-color-lychee-800);
    --background-active: var(--kv-color-grape-100);
    --border-color-active: transparent;
    --color-active: var(--kv-color-grape-500);
    --background-disabled: transparent;
    --border-color-disabled: transparent;
    --color-disabled: var(--kv-color-lychee-400);
  }
}
