@use "sass:map";

$colors: (
  tertiary: (
    "background": var(--kv-color-grape-500),
    "background-hover": var(--kv-color-grape-600),
    "background-focus": var(--kv-color-grape-600),
    "background-active": var(--kv-color-grape-500),
    "border-color": var(--kv-color-grape-500),
    "color": var(--kv-color-lychee-100),
  ),
  success: (
    "background": var(--kv-color-pear-500),
    "background-hover": var(--kv-color-pear-600),
    "background-focus": var(--kv-color-pear-600),
    "background-active": var(--kv-color-pear-500),
    "border-color": var(--kv-color-pear-500),
    "color": var(--kv-color-lychee-100),
  ),
  danger: (
    "background": var(--kv-color-blackberry-500),
    "background-hover": var(--kv-color-blackberry-600),
    "background-focus": var(--kv-color-blackberry-600),
    "background-active": var(--kv-color-blackberry-500),
    "border-color": var(--kv-color-blackberry-500),
    "color": var(--kv-color-lychee-100),
  ),
  muted: (
    "background": var(--kv-color-lychee-100),
    "background-hover": var(--kv-color-lychee-200),
    "background-focus": var(--kv-color-lychee-200),
    "background-active": var(--kv-color-lychee-100),
    "border-color": var(--kv-color-lychee-400),
    "color": var(--kv-color-lychee-800),
  ),
);

.kv-button {
  --border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  min-height: var(--height);
  margin: 0;
  padding: var(--padding);
  appearance: none;
  background-color: var(--background);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  color: var(--color);
  cursor: pointer;
  font-family: inherit;
  font-size: var(--font-size);
  font-weight: 700;
  line-height: calc(1em + 0.25rem);
  text-align: center;

  &:hover {
    --background: var(--background-hover);
  }
  
  &:active:focus {
    --background: var(--background-active);
  }
  
  &:focus {
    --background: var(--background-focus);
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
    cursor: not-allowed;
  }

  &--small {
    --height: 2.5rem;
    --font-size: var(--kv-font-size-xs);
    --padding: 0.5rem 3em;
  }
  
  &--medium {
    --height: 3rem;
    --font-size: var(--kv-font-size-sm);
    --padding: 0.5rem 3em;
  }
  
  &--large {
    --height: 3.5rem;
    --font-size: var(--kv-font-size-md);
    --padding: 0.5rem 3em;
  }

  &--loading {
    pointer-events: none;
  }

  &--expand-block {
    width: 100%;
  }

  &--expand-full {
    width: 100%;
    --border-radius: 0;
  }

  &--rounded {
    --border-radius: 1rem;
  }

  @each $color, $map in $colors {
    &--#{$color} {
      --background: #{map.get($map, "background")};
      --background-hover: #{map.get($map, "background-hover")};
      --background-focus: #{map.get($map, "background-focus")};
      --background-active: #{map.get($map, "background-active")};
      --border-color: #{map.get($map, "border-color")};
      --color: #{map.get($map, "color")};
    }
  }
}
